<!-- Loop over each object in the projects array -->
{{#each writing as |writings| }}
<div class="row mb-4 writings">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/writings/{{writings.id}}">{{writings.name}}</a>
    </h2>
    <p>Created by {{writings.user.name}} on {{format_date writings.date_created}}</p>
  </div>
</div>
{{/each}}