<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Writing:</h3>

    <form class="form new-writing-form">
      <div class="form-group">
        <label for="writing-name">writing name:</label>
        <input class="form-input" type="text" id="writing-name" name="writing-name" />
      </div>
      <div class="form-group">
        <label for="writing-desc">description:</label>
        <textarea class="form-input" id="writing-desc" name="writing-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/profile.js"></script>
