.hide{
  display:none;
} 


.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #c1c9cc;
  text-decoration: none;
  font-size: 100%;
}


header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
    background-color: #2d3e50;
  }




  
  .no-button:hover {
    color: #a4a5a6;
    text-decoration: underline;
  }
  
  .list-group {
    width:100%;
    list-style: none;
  } 